.contact {
  color: white;
  padding-bottom: 1rem;
  height: 550px;
  display: flex;
  justify-content: center;
}

.contactSection-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
