.nav {
  min-height: 7vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem;
  color: white;
  background-color: #21325e;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: #ea1538;
  }
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding-left: 4rem;
  position: relative;
  font-size: 1.25rem;
}

button {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  background: rgba(0, 136, 169, 1);
  margin-top: -5px;
  color: white;
  &:hover {
    background-color: #23d997;
    color: white;
    transform: scale(1.1);
  }
}

.logo {
  display: flex;
  color: crimson;
  h1 {
    margin-left: 1rem;
    margin-top: 0.6rem;
    font-size: 2.3rem;
  }
}
