* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #1b1b1b;
}

@import './entry';
@import './nav';
@import './contact';
@import './general';
@import './programs';
@import './footer';
